body {
  margin: 0;
  background: #f8f8f8;
  color: #272d45;
  font-family: Open Sans,sans-serif;
  font-size: .889rem;
  line-height: 1.6;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
